
{"timestamp_utc": "2025-10-15T14:03:28Z", "score": 1, "crack_time_display": "2 seconds", "warning": "Common names and surnames are easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Capitalization doesn't help very much."]}
{"timestamp_utc": "2025-10-15T14:03:34Z", "score": 2, "crack_time_display": "2 minutes", "warning": "Common names and surnames are easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Capitalization doesn't help very much."]}
{"timestamp_utc": "2025-10-15T14:03:50Z", "score": 3, "crack_time_display": "3 hours", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-10-20T20:27:44Z", "score": 4, "crack_time_display": "1 year", "warning": null, "suggestions": []}{"timestamp_utc": "2025-10-28T19:42:23Z", "score": 4, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-10-28T19:42:26Z", "score": 0, "crack_time_display": "less than a second", "warning": "This is a top-100 common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-10-28T19:42:29Z", "score": 1, "crack_time_display": "less than a second", "warning": "Names and surnames by themselves are easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-10-28T19:42:32Z", "score": 1, "crack_time_display": "1 second", "warning": "Common names and surnames are easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-10-28T19:42:39Z", "score": 4, "crack_time_display": "12 years", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:27:19Z", "score": 4, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:27:30Z", "score": 0, "crack_time_display": "less than a second", "warning": "This is a top-100 common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-04T16:27:36Z", "score": 1, "crack_time_display": "less than a second", "warning": "Names and surnames by themselves are easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-04T16:27:42Z", "score": 1, "crack_time_display": "less than a second", "warning": "This is a very common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-04T16:27:46Z", "score": 0, "crack_time_display": "less than a second", "warning": "Repeats like \"abcabcabc\" are only slightly harder to guess than \"abc\".", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid repeated words and characters."]}
{"timestamp_utc": "2025-11-04T16:27:52Z", "score": 1, "crack_time_display": "less than a second", "warning": "This is a very common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-04T16:27:58Z", "score": 1, "crack_time_display": "less than a second", "warning": "Names and surnames by themselves are easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-04T16:28:01Z", "score": 0, "crack_time_display": "less than a second", "warning": "This is a top-100 common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-04T16:28:04Z", "score": 0, "crack_time_display": "less than a second", "warning": "Repeats like \"abcabcabc\" are only slightly harder to guess than \"abc\".", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid repeated words and characters."]}
{"timestamp_utc": "2025-11-04T16:28:09Z", "score": 4, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:28:10Z", "score": 4, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:28:17Z", "score": 3, "crack_time_display": "11 hours", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:28:20Z", "score": 1, "crack_time_display": "2 seconds", "warning": "This is a very common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-04T16:28:24Z", "score": 1, "crack_time_display": "1 second", "warning": null, "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-04T16:28:26Z", "score": 0, "crack_time_display": "less than a second", "warning": "Repeats like \"abcabcabc\" are only slightly harder to guess than \"abc\".", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid repeated words and characters."]}
{"timestamp_utc": "2025-11-04T16:28:34Z", "score": 3, "crack_time_display": "10 hours", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:28:41Z", "score": 2, "crack_time_display": "60 minutes", "warning": "Dates are often easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid dates and years that are associated with you."]}
{"timestamp_utc": "2025-11-04T16:28:46Z", "score": 2, "crack_time_display": "60 minutes", "warning": "Dates are often easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid dates and years that are associated with you."]}
{"timestamp_utc": "2025-11-04T16:28:51Z", "score": 4, "crack_time_display": "3 months", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:29:02Z", "score": 4, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:29:04Z", "score": 2, "crack_time_display": "2 hours", "warning": null, "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-04T16:29:19Z", "score": 1, "crack_time_display": "less than a second", "warning": "Dates are often easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid dates and years that are associated with you."]}
{"timestamp_utc": "2025-11-04T16:29:23Z", "score": 4, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:30:05Z", "score": 4, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:30:07Z", "score": 4, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:30:09Z", "score": 0, "crack_time_display": "less than a second", "warning": "This is a top-100 common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-04T16:30:14Z", "score": 3, "crack_time_display": "3 hours", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:30:20Z", "score": 4, "crack_time_display": "8 years", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:30:23Z", "score": 3, "crack_time_display": "10 hours", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:30:36Z", "score": 4, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-04T16:30:43Z", "score": 2, "crack_time_display": "60 minutes", "warning": "Dates are often easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid dates and years that are associated with you."]}
{"timestamp_utc": "2025-11-04T16:31:37Z", "score": 2, "crack_time_display": "60 minutes", "warning": "Dates are often easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid dates and years that are associated with you."]}
{"timestamp_utc": "2025-11-04T16:34:06Z", "score": 0, "crack_time_display": "less than a second", "warning": "This is a very common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-04T16:34:10Z", "score": 0, "crack_time_display": "less than a second", "warning": "This is a very common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-04T16:34:14Z", "score": 1, "crack_time_display": "less than a second", "warning": "Repeats like \"abcabcabc\" are only slightly harder to guess than \"abc\".", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid repeated words and characters."]}
{"timestamp_utc": "2025-11-04T16:34:52Z", "score": 1, "crack_time_display": "2 seconds", "warning": "This is similar to a commonly used password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-06T21:40:31Z", "score": 4, "crack_time_display": "2 days", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-06T21:40:39Z", "score": 5, "crack_time_display": "52 years", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-11T16:32:15Z", "score": 5, "crack_time_display": "4 months", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-13T21:55:09Z", "score": 5, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:15:01Z", "score": 5, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:15:17Z", "score": 2, "crack_time_display": "1 second", "warning": "Repeats like \"abcabcabc\" are only slightly harder to guess than \"abc\".", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid repeated words and characters."]}
{"timestamp_utc": "2025-11-17T16:15:20Z", "score": 1, "crack_time_display": "less than a second", "warning": "This is a top-10 common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:25:17Z", "score": 5, "crack_time_display": "31 years", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:25:25Z", "score": 5, "crack_time_display": "31 years", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:25:57Z", "score": 5, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:26:00Z", "score": 5, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:26:09Z", "score": 2, "crack_time_display": "10 seconds", "warning": null, "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:27:44Z", "score": 3, "crack_time_display": "2 minutes", "warning": "This is similar to a commonly used password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:27:47Z", "score": 5, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:27:52Z", "score": 5, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:27:57Z", "score": 1, "crack_time_display": "less than a second", "warning": "This is a top-10 common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:27:59Z", "score": 1, "crack_time_display": "less than a second", "warning": "This is a top-10 common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:28:01Z", "score": 5, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:28:27Z", "score": 5, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:28:28Z", "score": 1, "crack_time_display": "less than a second", "warning": "Repeats like \"abcabcabc\" are only slightly harder to guess than \"abc\".", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid repeated words and characters."]}
{"timestamp_utc": "2025-11-17T16:28:30Z", "score": 2, "crack_time_display": "less than a second", "warning": "Dates are often easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid dates and years that are associated with you."]}
{"timestamp_utc": "2025-11-17T16:28:33Z", "score": 1, "crack_time_display": "less than a second", "warning": "This is a top-10 common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:28:35Z", "score": 2, "crack_time_display": "2 seconds", "warning": "Repeats like \"abcabcabc\" are only slightly harder to guess than \"abc\".", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid repeated words and characters."]}
{"timestamp_utc": "2025-11-17T16:28:36Z", "score": 5, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:28:38Z", "score": 3, "crack_time_display": "1 hour", "warning": null, "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:28:40Z", "score": 1, "crack_time_display": "less than a second", "warning": "This is a top-10 common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:29:43Z", "score": 1, "crack_time_display": "less than a second", "warning": "This is a top-10 common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:29:45Z", "score": 5, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:29:49Z", "score": 1, "crack_time_display": "less than a second", "warning": "This is a top-10 common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:29:52Z", "score": 1, "crack_time_display": "less than a second", "warning": "Repeats like \"abcabcabc\" are only slightly harder to guess than \"abc\".", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid repeated words and characters."]}
{"timestamp_utc": "2025-11-17T16:29:54Z", "score": 5, "crack_time_display": "19 years", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:29:55Z", "score": 3, "crack_time_display": "17 minutes", "warning": null, "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:29:58Z", "score": 3, "crack_time_display": "4 minutes", "warning": "Dates are often easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid dates and years that are associated with you."]}
{"timestamp_utc": "2025-11-17T16:30:00Z", "score": 3, "crack_time_display": "3 minutes", "warning": "Dates are often easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid dates and years that are associated with you."]}
{"timestamp_utc": "2025-11-17T16:30:03Z", "score": 3, "crack_time_display": "60 minutes", "warning": "Dates are often easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid dates and years that are associated with you."]}
{"timestamp_utc": "2025-11-17T16:30:32Z", "score": 3, "crack_time_display": "60 minutes", "warning": "Dates are often easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid dates and years that are associated with you."]}
{"timestamp_utc": "2025-11-17T16:30:34Z", "score": 3, "crack_time_display": "6 minutes", "warning": null, "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:30:35Z", "score": 1, "crack_time_display": "less than a second", "warning": "This is a top-10 common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:30:38Z", "score": 1, "crack_time_display": "less than a second", "warning": "Repeats like \"abcabcabc\" are only slightly harder to guess than \"abc\".", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid repeated words and characters."]}
{"timestamp_utc": "2025-11-17T16:30:39Z", "score": 2, "crack_time_display": "2 seconds", "warning": "This is similar to a commonly used password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-11-17T16:30:44Z", "score": 4, "crack_time_display": "14 hours", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:31:14Z", "score": 4, "crack_time_display": "14 hours", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-11-17T16:31:23Z", "score": 3, "crack_time_display": "60 minutes", "warning": "Dates are often easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid dates and years that are associated with you."]}
{"timestamp_utc": "2025-11-17T16:31:28Z", "score": 3, "crack_time_display": "60 minutes", "warning": "Dates are often easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid dates and years that are associated with you."]}
{"timestamp_utc": "2025-11-17T16:31:30Z", "score": 2, "crack_time_display": "17 seconds", "warning": "Dates are often easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Avoid dates and years that are associated with you."]}
