{
    "timestamp_utc": "2025-10-14 15:02:47Z",
    "password_masked": "mi******23",
    "score": 1,
    "crack_time_display": "2 seconds",
    "suggestions": [
        "Add another word or two. Uncommon words are better."
    ],
    "warning": "Common names and surnames are easy to guess."
}
{
    "timestamp_utc": "2025-10-14 15:08:52Z",
    "password_masked": "1****6",
    "score": 0,
    "crack_time_display": "less than a second",
    "suggestions": [
        "Add another word or two. Uncommon words are better."
    ],
    "warning": "This is a top-10 common password."
}
{
    "timestamp_utc": "2025-10-14 15:08:52Z",
    "password_masked": "pa****rd",
    "score": 0,
    "crack_time_display": "less than a second",
    "suggestions": [
        "Add another word or two. Uncommon words are better."
    ],
    "warning": "This is a top-10 common password."
}
{
    "timestamp_utc": "2025-10-14 15:08:52Z",
    "password_masked": "he****23",
    "score": 0,
    "crack_time_display": "less than a second",
    "suggestions": [
        "Add another word or two. Uncommon words are better."
    ],
    "warning": "This is a very common password."
}
{
    "timestamp_utc": "2025-10-14 15:08:52Z",
    "password_masked": "Su*******4!",
    "score": 2,
    "crack_time_display": "46 minutes",
    "suggestions": [
        "Add another word or two. Uncommon words are better.",
        "Capitalization doesn't help very much."
    ],
    "warning": "This is similar to a commonly used password."
}
{
    "timestamp_utc": "2025-10-14 15:08:52Z",
    "password_masked": "Co*********************le",
    "score": 4,
    "crack_time_display": "centuries",
    "suggestions": [],
    "warning": null
}
{
    "timestamp_utc": "2025-10-14 15:08:52Z",
    "password_masked": "Tr*******&3",
    "score": 4,
    "crack_time_display": "4 months",
    "suggestions": [],
    "warning": null
}
{
    "timestamp_utc": "2025-10-14 15:08:53Z",
    "password_masked": "R@*****************************************25",
    "score": 4,
    "crack_time_display": "centuries",
    "suggestions": [],
    "warning": null
}
