
{"timestamp_utc": "2025-10-15T14:03:28Z", "score": 1, "crack_time_display": "2 seconds", "warning": "Common names and surnames are easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Capitalization doesn't help very much."]}
{"timestamp_utc": "2025-10-15T14:03:34Z", "score": 2, "crack_time_display": "2 minutes", "warning": "Common names and surnames are easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Capitalization doesn't help very much."]}
{"timestamp_utc": "2025-10-15T14:03:50Z", "score": 3, "crack_time_display": "3 hours", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-10-20T20:27:44Z", "score": 4, "crack_time_display": "1 year", "warning": null, "suggestions": []}{"timestamp_utc": "2025-10-28T19:42:23Z", "score": 4, "crack_time_display": "centuries", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-10-28T19:42:26Z", "score": 0, "crack_time_display": "less than a second", "warning": "This is a top-100 common password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-10-28T19:42:29Z", "score": 1, "crack_time_display": "less than a second", "warning": "Names and surnames by themselves are easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-10-28T19:42:32Z", "score": 1, "crack_time_display": "1 second", "warning": "Common names and surnames are easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-10-28T19:42:39Z", "score": 4, "crack_time_display": "12 years", "warning": null, "suggestions": []}
