
{"timestamp_utc": "2025-10-15T14:03:28Z", "score": 1, "crack_time_display": "2 seconds", "warning": "Common names and surnames are easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Capitalization doesn't help very much."]}
{"timestamp_utc": "2025-10-15T14:03:34Z", "score": 2, "crack_time_display": "2 minutes", "warning": "Common names and surnames are easy to guess.", "suggestions": ["Add another word or two. Uncommon words are better.", "Capitalization doesn't help very much."]}
{"timestamp_utc": "2025-10-15T14:03:50Z", "score": 3, "crack_time_display": "3 hours", "warning": null, "suggestions": []}
{"timestamp_utc": "2025-10-28T18:45:00Z", "score": 1, "crack_time_display": "42 seconds", "warning": "This is similar to a commonly used password.", "suggestions": ["Add another word or two. Uncommon words are better."]}
{"timestamp_utc": "2025-10-28T18:45:05Z", "score": 4, "crack_time_display": "centuries", "warning": null, "suggestions": []}
