{"timestamp_utc": "2025-11-21T00:26:16Z", "score": 5, "crack_time_display": "4 years", "warning": null, "suggestions": []}
