version: "3.9"

services:
  flaskapp:
    build: .
    container_name: flaskapp
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=threatkit
      - FLASK_ENV=development
    networks:
      - threatkit-net
    volumes:
      - .:/app

networks:
  threatkit-net:
    external: true
