version: '3'
services:
  flask:
    image: python:3.11-slim
    container_name: flaskapp
    volumes:
      - .:/app
      - ./workspace/input:/data/uploads:rw
    working_dir: /app
    environment:
      FLASK_APP: app.py
      FLASK_ENV: development
    command: sh -c "pip install -r requirements.txt && flask run --host=0.0.0.0"
    ports:
      - "5000:5000"
    
  malware_worker:
      build: ./docker/malware-checker
      image: threatkit/malware-checker:dev
      container_name: malware_worker
      network_mode: "none"
      read_only: true
      cap_drop: ["ALL"]
      tmpfs: ["/tmp", "/run"]
      volumes:
      - ./workspace/input:/work/input:ro
      - ./workspace/output:/work/output:rw
      entrypoint: ["/bin/bash", "-lc", "sleep infinity"]
